* {
  margin: 100;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: bisque;
}
.container {
  margin: 2rem 4rem;
}

.head {
  font-size: 3rem;
  text-transform: uppercase;
}

.styleContainer {
  display: flex;
  width: 100%;
  height: 400px;
  margin: 2rem 0;
}

.image {
  position: relative;
  width: 400px;
  min-width: 300px;
  height: 400px;
  min-width: 300px;
  margin-right: 4rem;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.neck {
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.ears {
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.nose {
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.mouth {
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
}

.accessories {
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}
.hair {
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.eyes {
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 7;
}

.leg {
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 8;
}

.buttonOptions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
  min-width: 300px;
  justify-content: space-evenly;
}

.nameBar {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  padding-bottom: 1rem;
}

.styleName,
.styleBtn {
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  color: #4361ee;
  text-transform: capitalize;
  font-weight: bold;
  border: 2px solid #4361ee;
  margin: 10px 10px 0px 0px;
  cursor: pointer;
}

.styleName:hover,
.styleBtn:hover {
  background-color: #4361ee;
  color: white;
}

.random,
.download {
  background-color: white;
  color: black;
  padding: 0.7rem 2rem;
  font-weight: bold;
  margin-right: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.random:hover,
.download:hover {
  background-color: rgb(114, 223, 24);
  color: white;
}

.auxBtns {
  margin: auto;
  width: 100%;
  display: inline-block;
}

@media (max-width: 800px) {
  .head {
    font-size: 2.5rem;
  }
  .container {
    margin: 1rem 2rem;
  }
  .image {
    width: 300px;
    height: 300px;
    margin-right: 2rem;
  }
}
